
<div class="container">

<div class="hero-wrapper">
    <div class="hero-text">
        <p class="first">Redefine Your Workflow Management <br><span>Reinvention</span></p>
        <p class="second">Top 1% business experts in your niche with proven ROI results <br> backed by unbiased online monitoring in the year of 2024.</p>
        <button class="btn cta-effect">Start your free trial!</button>
        <p>*No credit card required</p>
    </div>
     
</div>
</div>
    

<style>

.container{
    background-color: var(--secondary);
}

.hero-wrapper{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 7rem ;
    padding-bottom: 18rem;
}
 
.first {
    font-size: 3.2rem;
    font-weight: bold;
    margin: 40px auto;
}

.second{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn {
    background-color: var(--accentColor);
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 20px auto;
    cursor: pointer;
}

span {
    color: var(--accentColor);
    font-weight: normal;
}

img{
    width: 900px;
    height:auto;
    position: relative;
    bottom: 0;
    z-index: 2;
}


@media only screen and (max-width:700px) {
    .first {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 40px auto;
 }

 .second{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
 }
  
  .btn{
     font-size: 1.3rem;
  }
}

</style>